<!DOCTYPE html>
<html>
<head>
	<title>Add a question</title>
</head>
<body>
<h1><%= question["name"] %></h1>
<em><%= question["text"] %></em><br>
 Type in your answer: <br>
 <form action="/addanswer" method="post">
 	<input type="hidden" name="questionid" value="<%= question["_id"]%>">
    <input type="text" name="text"><br>
    <input type="submit" value="Send">
 </form>
</body>
</html>