<!DOCTYPE html>
<html>
<head>
	<title>Add a question</title>
</head>
<body>
Question: 
<%=question["name"] %>
 Type in your answer: 
 <form action="/addanswer" method="post">
    <input type="text" name="text"><br>
    <input type="submit" value="Send">
 </form>
</body>
</html>