<!DOCTYPE html>
<html>
<head>
	<title>Add a question</title>
</head>
<body>

 Type in your question: 
 <form action="/addquestion" method="post">
    <input type="text" name="questtext"><br>
    <input type="submit" value="Send">
 </form>
</body>
</html>