<!DOCTYPE html>
<html>
<head>
	<title>Add a question</title>
</head>
<body>


</body>
</html>



<!DOCTYPE html>
<html>
<head>
	<title>Hey</title>
	<link href="stylesheets/bootstrap.css" rel="stylesheet">
</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Home</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="/ask">Ask</a>
            </li>
            <li>
              <a href="/answer">Answer</a>
            </li>
            <li>
              <a href="/learn">Learn</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>




<div class="container">

<div class="page-header"><h1>Add a Question</h1></div>
 <form action="/ask" method="post">
 	Title of Question: <input type="text" name="name"><br>
    Question: <input type="text" name="text"><br>
    <input type="submit" value="Send">
 </form>

</div>



<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>