<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>Ack!</title>
	<link href="stylesheets/bootstrap.css" rel="stylesheet">
</head>
<body>

<% include navbar-notloggedin %>

<div class="container">

	<h1>I couldn't find your page! Go blame Sahil...</h1>
	<br><br>

	<p>
		<span onclick="if(document.referrer){window.history.back}else{document.location.href='/'};"
		      class="btn btn-info btn-lg">Go Back</span></p>
</div>
</body>
</html>