<!DOCTYPE html>
<html>
<head>
	<title>Hey</title>
</head>
<body>
<a href="/addquestion">Add a question!</a>
<br><br><br>
<% questions.forEach(function(entry){ %>
	<%= entry["name"] %> &nbsp;&nbsp; <% if(entry.answers[0]){ %> <%=entry.answers[0].text%> <%}%>&nbsp;&nbsp; <a href="/addanswer?id=<%= entry["_id"]%>" >Answer This!</a><br>
	<%}); %>
<br>

</body>
</html>