<!DOCTYPE html>
<html>
<head>
	<title>Hey</title>
</head>
<body>
<a href="">Add a question!</a>
<br><br><br>
<% questions.forEach(function(entry){ %>
	<%= entry["name"] %> <br>
	<%}); %>
<br>

</body>
</html>