<!DOCTYPE html>
<html>
<head>
	<title>Hey</title>
	<link href="stylesheets/bootstrap.css" rel="stylesheet">
</head>
<body>

<% include navbar-loggedin %>

<div class="container">
<div class="page-header"><h1>Questions</h1></div>
<div class="row">
  <div class="col-lg-6">
  <ul class="list-group">
  <% questions.forEach(function(entry){ %>
  <li class="list-group-item">
    <span class="badge"><% if(entry.answers[0]){ %> <%=entry.answers.length%> <%}else{%>0<%}%></span>
  <a href="/viewquestion?id=<%=entry._id%>"><%= entry["name"] %></a> </li>
  <%}); %>
  </ul>
  </div>
  </div>
  </div>


<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>