span {
	font-size: 40px;
	margin: 7px;
}

#up:hover, .upped{
	color:green;
	cursor: pointer;
}

#down:hover, .downed{
	color:red;
	cursor: pointer;
}

.row div{
	display: inline-block;
	float: left;
}

.row div div {
	display: block;
}